@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using Microsoft.Identity.Web
@model BlazorFluentUI.Pages.SignOutModel
@{
    ViewData["Title"] = "Sign Out";
}

<div>
    <h3>Signing out...</h3>
    <p>Please wait while we sign you out.</p>
</div>
