 @model B2C_AppRoles.Models.AppRoleCreationRequest



 <h2>Create App Role</h2>
 <div class="col-md-4"> 
<form asp-action="PostAppRole" method="post">
    <input type="hidden" asp-for="ApplicationId" value="@ViewData["AppId"]" />
    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleDescription"></label>
        <input asp-for="RoleDescription" class="form-control" />
        <span asp-validation-for="RoleDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleValue"></label>
        <input asp-for="RoleValue" class="form-control" />
        <span asp-validation-for="RoleValue" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsEnabled" type="checkbox" class="form-check-input" />
        <label asp-for="IsEnabled" class="form-check-label"></label>
        <span asp-validation-for="IsEnabled" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
 </form>
</div>
@*  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 } *@